---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form.astro';
import Homepage from '../components/Homepage.astro';
import '@fontsource-variable/space-grotesk';

---

<Layout title="Survey Form">
<main>
	<Homepage />
</main>
</Layout>
<style is:global>
	body {
	  font-family: 'Space Grotesk Variable', sans-serif;
	}
	</style>
	