---
import Image from "astro:content";
---

<section class="h-screen relative bg-cover bg-center" style="background-image: url('/bg.jpg');">
  <div class="h-full flex flex-col items-center justify-center  z-50 bg-black bg-opacity-60 ">
    <h1 class="text-[#ffb951] text-5xl md:text-6xl font-bold text-center mb-4 tracking-wide">
        Travel <br /> <span class="text-[#f6f4f4]">Preferences</span>  Survey
    </h1>
    <p class="text-center mb-6 text-[#ffffff] max-sm:w-[90%] md:w-[45%]">
      We are constantly looking to enhance our services. Could you take a few minutes to provide us with your input on your travel preferences?
    </p>
    <a href="/forms" class="text-[#f6f4f4] bg-orange-500 hover:bg-orange-600 py-2 px-4 rounded-full text-lg font-semibold transition duration-300">
      Sure, Let's Start
    </a>
  </div>
</section>
